@import "./variables.scss";



* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.link-home{
    &::after{
        background-image: url("./assets/icons/home.svg");
    }
}

.links {
    .link-signIn{
        &::after{
            background-image: url("../assets/icons/login.svg");
        }
    }
}

.link-signIn{
    &::after{
        background-image: url("./assets/icons/login.svg");
    }
}

.link-logout{
    &::after{
        background-image: url("./assets/icons/logout.svg");
    }
}

.link-profile{
    &::after{
        background-image: url("./assets/icons/user.svg");
    }
}

.link-signUp {
    &::after{
        background-image: url("../assets/icons/signUp.svg");
    }
}
.link-create {
    &::after{
        background-image: url("../assets/icons/create.svg");
    }
}
.link-post {
    &::after{
        background-image: url("../assets/icons/person.svg");
    }
}

.modalMessage {
    width: 40vw;
    height: 20vw;
    min-width: 150px;
    padding: 5% 10% 5% 10%;
    border-radius: 15px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15vh;
    button {
        @include button;
        position: absolute;
        top:0;
        right: 0;
        background-color: red;
     
    }
}

