$green: rgb(38, 143, 38);
$orange: rgb(240, 166, 30);
$blue: rgb(30, 163, 240);

@mixin pseudoClassMenuItem {
    &::after{
        content: '';
        display: block;
        width: 5vw;
        height: 5vw;
        background-size:cover;
    }
}

@mixin button {
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}